.faq {
  .img {
    width: 100vw;
    padding: 4rem 0;
  }

  .faqWrap {
    padding: 8rem 0;

    .faq-tabList {
      width: 120rem;
      margin: 5.6rem auto 0;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      cursor: pointer;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 3.2rem;
      }

      &_item {
        font-size: 2.4rem;
        text-align: center;
        width: calc((100% - 1.2rem) / 3);
        background-color: #fff;
        border: solid 1px #5c3d39;
        padding: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 120%;

        @media (max-width: 767px) {
          font-size: 1.4rem;
          padding: .8rem;
        }

        &.is-active {
          background-color: #b1dddd;
          color: #fff !important;
        }
      }
    }

    .detailsWrap {
      width: 120rem;
      margin: 5.6rem auto 0;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 3.2rem;
      }

      .details {
        background-color: #b1dddd;
        border-radius: 1rem;

        &:not(:first-child) {
          margin-top: 3.2rem;

          @media (max-width: 767px) {
            margin-top: 1.6rem;
          }
        }

        .summary {
          cursor: pointer;
        }

        .summary,
        .answer {
          font-size: 2.4rem;
          line-height: 150%;
          padding: 1.6rem 2.4rem;

          @media (max-width: 767px) {
            font-size: 1.6rem;
            padding: 1.2rem 1.6rem;
          }
        }

        .answer {
          background-color: #eaebeb;
          border-radius: 0 0 1rem 1rem;
        }
      }
    }
  }
}