.footer {
  background: linear-gradient(to bottom, #fff, #64bbba);
  margin-top: 8rem;

  @media (max-width: 767px) {
    margin-top: 3.2rem;
  }

  .cm-contact {
    padding-bottom: 16rem;
    position: relative;
    border-bottom: solid 2rem #64BBBA;

    @media (max-width: 767px) {
      padding-bottom: 8rem;
      border-bottom: solid 1rem #64BBBA;
    }

    .ttl {
      font-size: 4rem;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 2.4rem;
      }
    }

    .tel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-top: 1.6rem;

      @media (max-width: 767px) {
        gap: .8rem;
        margin-top: .8rem;
      }

      .icon {
        width: 4rem;

        @media (max-width: 767px) {
          width: 2.4rem;
        }
      }

      .num {
        font-size: 4rem;
        line-height: 100%;

        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }
    }

    .btnArea {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 3.2rem;

      @media (max-width: 767px) {
        gap: 1.6rem;
      }

      .btn {
        font-size: 2.4rem;
        line-height: 100%;
        padding: 3.2rem 4rem;
        border-radius: 100vmax;

        @media (max-width: 767px) {
          font-size: 1.6rem;
          padding: 1.6rem 2.4rem;
        }

        &.line {
          background-color: #6FB54E;
        }

        &.form {
          background-color: #64BBBA;
        }
      }
    }

    &::before {
      content: "";
      width: 26.6rem;
      height: 13.5rem;
      background-image: url(../img/footer_icon01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: 10rem;

      @media (max-width: 767px) {
        width: 8rem;
        height: 4.1rem;
        left: 1rem;
      }
    }

    &::after {
      content: "";
      width: 47.7rem;
      height: 7.2rem;
      background-image: url(../img/footer_icon02.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0;
      right: 10rem;

      @media (max-width: 767px) {
        width: 24rem;
        height: 3.6rem;
        right: 2rem;
      }
    }
  }

  .siteMap {
    padding: 8rem;

    @media (max-width: 767px) {
      padding: 4rem 0;
    }

    .list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8rem;

      @media (max-width: 767px) {
        gap: 2.4rem 4rem;
      }

      &_item {
        line-height: 100%;

        a {
          font-size: 2.4rem;
          line-height: 150%;

          @media (max-width: 767px) {
            font-size: 1.8rem;
          }

          .img {
            &.__1 {
              width: 22rem;
              padding-top: .8rem;

              @media (max-width: 767px) {
                width: 14rem;
              }
            }

            &.__2 {
              width: 22rem;

              @media (max-width: 767px) {
                width: 14rem;
              }
            }
          }
        }
      }
    }
  }

  .logoArea {
    background-color: #fff;
    padding: 2rem 0;

    @media (max-width: 767px) {
      padding: .8rem 0;
    }

    .img {
      width: 32rem;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 16rem;
      }
    }
  }
}