.form {
  overflow: hidden;

  .img {
    width: 100vw;
    padding: 4rem 0;

    @media (max-width: 767px) {
      padding: 1.6rem 0;
    }
  }

  .formWrap {
    background-color: #b1dddd;
    padding: 8rem 0;

    @media (max-width: 767px) {
      padding: 4rem 1.6rem;
    }

    .btn {
      font-size: 3.2rem;
      width: 40rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ed9b86;;
      border-radius: 100vmax;
      margin: 8rem auto 0;
      padding: 2.4rem;

      @media (max-width: 767px) {
        font-size: 2rem;
        width: 80%;
        margin: 3.2rem auto 0;
      }
    }
  }

  .formCont {
    width: 80rem;
    margin: 5.6rem auto 0;

    @media (max-width: 767px) {
      width: 100%;
      margin: 3.2rem auto 0;
    }

    &_blk {
      &:not(:first-child) {
        margin-top: 3.2rem;

        @media (max-width: 767px) {
          margin-top: 1.6rem;
        }
      }

      .inputArea {
        height: 5.6rem;
        margin-top: 1.2rem;

        @media (max-width: 767px) {
          margin-top: .8rem;
        }

        input,
        select {
          box-sizing: border-box;
          font-size: 1.8rem;
          border-radius: 1rem;
          border: solid 2px #5c3d39;
          width: 100%;
          height: 100%;
          padding: 1.6rem;

          @media (max-width: 767px) {
            font-size: 1.4rem;
            padding: .8rem;
          }
        }
      }

      .txtArea {
        textarea {
          box-sizing: border-box;
          font-size: 1.8rem;
          border-radius: 1rem;
          border: solid 2px #5c3d39;
          width: 100%;
          height: 100%;
          margin-top: 1.2rem;
          padding: 1.6rem;
        }
      }
    }

    &_name {
      font-size: 2.4rem;

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    .btn {
      font-size: 3.2rem;
      width: 40rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #64BBBA;
      border-radius: 100vmax;
      margin: 4rem auto 0;
      padding: 2.4rem;

      @media (max-width: 767px) {
        font-size: 2rem;
        width: 100%;
        margin-top: 3.2rem;
      }
    }
  }
}