.header {
  width: 100%;
  height: 18.7rem;
  background-color: rgba($color: #fcfcfc, $alpha: .5);

  @media (max-width: 767px) {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &_inner {
    padding: 0 5rem;

    @media (max-width: 767px) {
      padding: 0 2rem;
    }

    .topCont {
      padding: 1.2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        padding: .8rem 0;
      }

      .logo {
        width: 48rem;

        @media (max-width: 767px) {
          width: 18rem;
        }
      }

      .ctaArea {
        @media (max-width: 767px) {
          display: none;
        }

        .tel {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .8rem;

          .icon {
            width: 3.2rem;
          }

          .num {
            // font-size: 3.6rem;
            font-size: 3.2rem;
            line-height: 1em;
          }
        }
      }

      .btnArea {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        margin-top: 1rem;

        .btn {
          font-size: 2rem;
          line-height: 1em;
          border-radius: 100vmax;
          padding: 2.2rem 3.2rem;

          &.line {
            background-color: #6fb54e;
          }

          &.form {
            background-color: #64bbba;
          }
        }
      }
    }

    .nav {
      @media (max-width: 767px) {
        background-color: #fff;
        padding: 7.2rem 2rem;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -100vw;
        transition: all .5s ;
      }

      .list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        &_item {
          width: 29rem;
          height: 5.6rem;
          background-color: #fff;
          border: solid .1rem #9e9e9f;
          border-bottom: unset;
          border-radius: 3rem 3rem 0 0;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 767px) {
            width: 100%;
            height: auto;
            background-color: unset;
            border: unset;
            justify-content: flex-start;
            margin-bottom: 4rem;
          }

          a {
            font-size: 2.4rem;

            @media (max-width: 767px) {
              font-size: 2rem;
            }

            .img.__1 {
              width: 18rem;

              @media (max-width: 767px) {
                width: 16rem;
              }
            }

            .img.__2 {
              width: 16rem;

              @media (max-width: 767px) {
                width: 14rem;
              }
            }
          }
        }
      }

      &.js_active {
        right: 0;
      }
    }
  }

  .nav-btn {
    display: none;

    @media (max-width: 767px) {
      width: 4.8rem;
      height: 4.8rem;
      background-color: #5c3d39;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
    }

    .nav-line {
      display: inline-block;
      width: 3.2rem;
      height: .2rem;
      background-color: #fff;
      transition: all .5s;

      &:not(:last-child) {
        margin-bottom: .8rem;
      }
    }

    &.js_active {
      .nav-line {
        margin-bottom: 0;
        position: absolute;

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }

        &:nth-of-type(3) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .sp-nav {
    margin-bottom: 4rem;

    .ctaArea {
      .tel {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.2rem;

        .icon {
          width: 3.2rem;
        }

        .num {
          font-size: 2rem;
          line-height: 150%;
        }
      }

      .btnArea {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .8rem;
        margin-top: 1.6rem;

        .btn {
          font-size: 1.4rem;
          line-height: 1em;
          border-radius: 100vmax;
          padding: 1.4rem 1.6rem;

          &.line {
            background-color: #6fb54e;
          }

          &.form {
            background-color: #64bbba;
          }
        }
      }
    }
  }
}